allow untrusted_app wrspi_exec:file { open read };
allow untrusted_app wrspi_exec:file execute;
allow untrusted_app wrspi_exec:file execute_no_trans;
allow untrusted_app wrspi_exec:file getattr;
allow untrusted_app wrspi_exec:file map;

#============= wrspi ==============
allow shell wrspi_exec:file getattr;

